body{
    background-color: darkgrey;
}

.field{
    display: flex;
    justify-content: center;
}


.card{
    background-color: grey;
    opacity: 0.8;
    width: 30vw;
    height: 30vw;
    margin: 1.5vw;
    font-size: 15vw;
    text-aligin: center;
    border-radius: 50%;
}

.part{
    background-color: darkgrey;
    color: darkgrey;
    opacity: 0.8;
    width: 30vw;
    height: 30vw;
    margin: 1.5vw;
    font-size: 15vw;
    text-aligin: center;
    border-radius: 50%;
}
