body{
    background-color: darkgrey;
    text-align: center;
}

.field{
    display: flex;
    justify-content: center;
}

h1{
    background-color: #ff0000;
}

h2{
    background-color: #ffff00;
}

.card{
    background-color: grey;
    opacity: 0.8;
    width: 30vw;
    height: 35vw;
    margin: 1.5vw;
}
