body{
    background-color: darkgrey;
    text-aligin: center;
}

.field{
    display: flex;
    justify-content: center;
}

.card{
    background-color: grey;
    opacity: 0.8;
    width: 30vw;
    height: 20vw;
    margin: 1.5vw;
}
