body{
    background-color: darkgrey;
    text-align: center;
}

.field{
    display: flex;
    justify-content: center;
}

h1{
    backgrownd-color: red;
    opacity: 0.5;
}

h2{
    backgrownd-color: yellow;
    opacity: 0.4;
}

.card{
    background-color: grey;
    opacity: 0.8;
    width: 30vw;
    height: 35vw;
    margin: 1.5vw;
}
